# Copy this file to a new file named '.env' and fill in your secrets .
SECRET_KEY=put_your_generated_secret_key_here # you can use secret_key_generator.py to generate a secure random key

# For PostgreSQL connection, leave the username,password, and database name as is for local development
DB_USERNAME=db_username
DB_PASSWORD=db_password
DB_NAME=tool_share