* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: #2d3436;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-size: 1.5em;
}

::placeholder { color: #8f8f8f; }